@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.site-layout-sub-header-background {
    background: #fff;
}
.ant-layout-content {
    margin-top: 0%;
    margin-left: 13%;
    margin-right: 2%;
    text-align: left;
    padding-top: 0%;
    background-color: white;
}

body {
    margin: 0%;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-variant: tabular-nums;
    line-height: 1.5715;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
}

.inputArea{
    margin-top: 4%;
}

.textArea{
    margin-top: 0%;
    margin-bottom: 2%;
}

.ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 85%;
    min-width: 0;
    padding: 4px 11px;
    color: black;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ant-input:hover {
    border-color: #DAD7D7;
    background-color: #DAD7D7;
    border-right-width: 1px !important;
}

.ant-input:focus, .ant-input-focused {
    border-color: #DAD7D7;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px #DAD7D7;
    box-shadow: 0 0 0 2px #DAD7D7;
}

.ant-btn-circle.ant-btn-lg, .ant-btn-circle-outline.ant-btn-lg {
    min-width: 40px;
    border-radius: 50%;
    border-color: #DAD7D7;
    background-color: #DAD7D7;
    margin-left: 14%;
}

.ant-btn-icon-only.ant-btn-lg > * {
    vertical-align: middle;
    font-size: 20px;
    margin-left: 12%;
}


.ant-btn:hover, .ant-btn:focus {
    color: white;
    background-color: #686B6F;
    border-color: #686B6F;
}

.delete {
    display: inline-block;
    color: #686B6F;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 10px;
    margin-left: 0px;
    font-size: 24px;
}

.arrow {
    display: inline-block;
    color: #686B6F;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0;
    margin-top: 30px;
    font-size: 24px;
}

.add {
    display: inline-block;
    color: #686B6F;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    margin-top: 27px;
    font-size: 24px;
}

.save {
    display: inline-block;
    color: white;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0;
    font-size: 18px;
}

.textArea-long{
    margin-top: 10px;
}

.inputArea-long{
    width: 695px;
    margin-top: 10px;
}

.preview{
    margin-top: 1%;
    margin-left: 0;
    background-color: white;
}

.prv-btn {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 87%;
}
