@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

svg {
    overflow: hidden;
    vertical-align: 0%;
}

.jumbotron{
    background-color: white;
    padding: 0;
    margin-bottom: 4%;
}

.namePlaceholder{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.ant-btn-primary{
    background-color: #525252;
    border-color: #525252;
}

.ant-btn-primary:hover{
    background-color: black;
    border-color: black;
}

.ant-btn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 8px;
}

.myCV{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
}

.myCV .ant-btn-primary{
    margin-left: 3%;
    background-color: #525252;
    border-color: #525252;
}

.myCV .ant-btn-primary:hover{
    background-color: black;
    border-color: black;
}

.myCV .ant-btn-primary .ant-btn > .anticon {
    line-height: 0;
}

.ant-card-body {
    padding: 0px;
    background-color: #F2F2F2;
}

.ant-card-actions {
    list-style: none;
    background-color: #f2f2f2;
}

.ant-card-meta-detail {
    overflow: hidden;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    background-color: #F2F2F2;
}

.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
}

.cardPlace{
    margin-bottom: 5%;
}