@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 64px;
    background: white;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    min-width: 14px;
    margin-left: 10px;
    font-size: 14px;
    -webkit-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-layout{
    height: 64px;
    padding: 0 0px;
    color: black;
    background: white;
}

.ant-menu-horizontal {
    line-height: 50px;
    white-space: nowrap;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: black;
}

.logo{
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 29px;
    padding-top: 4%;
}

.menu img{
    margin-top: 4%;
}

.menu{
    float: right;
    padding-left: 3%;
}