@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ant-layout-sider-children {
    background: white;
    width: 350px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child), 
.ant-menu-vertical-left .ant-menu-item:not(:last-child), 
.ant-menu-vertical-right .ant-menu-item:not(:last-child), 
.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0;
    margin-top: 0;
}

/* sider buat isi profil */
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, 
.ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 0%;
    text-align: left;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
    background-color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-top: 1.5%;
    height: 50px;
    margin-left: 0%;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e6f7ff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active {
    background-color: #e6f7ff;
}

.anticon svg {
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
    margin-right: 5px;
}


