.title{
    color: black;
    padding-right: 20%;
}

.icn{
    color: #525252;
    padding-left: 3%;
}

.textField{
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

.data{
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

.text-ach{
    color: black;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.ant-card-bordered {
    border: 1px solid #f0f0f0;
}

.ant-card-body {
    border-radius: 20px;
    background-color: white;
}

.ant-card-meta-detail {
    overflow: hidden;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    background-color: white;
    padding-bottom: 5%;
}