@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.ant-collapse {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 6%;
    padding-top: 0;
    margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    background-color: #f0f2f5;
    border: 1px solid #f0f2f5;
    border-bottom: 0;
    border-radius: 4px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

