.jumbotron-landing-page{
    background-color: #f0f2f5;
    width: 85%;
    margin-left: 10%;
    padding-top: 3%;
    padding-bottom: 7%;
    margin-bottom: 6%;
    margin-top: 6%;
}

.title-sign-up {
    padding-top: 5%;
    text-align: center;
}

h4{
    text-align: center;
}

.input-sign-up{
    background-color: white;
    width: 80%;
    position: relative;
    display: inline-block;
}

.input-sign-up:hover{
    background-color: white;
}

.sign-up-btn{
    margin-left: 40%;
}